.landing {
    text-align: center;
    padding-top: 40vh;
    color: #5e0005;
    padding-left: 20px;
    padding-right: 20px;
}

.main-canvas {
    height: 100vh;
}

body {
    background-color: #fff !important;
    overflow-x: hidden;
}

.main-font, h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.main-font {
    font-size: 72px;
    color: #5e0005 !important; 
}

.sub-heading {
    font-size: 22px !important;
    font-family: 'Lato', sans-serif;
}

.body-font, p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.to-scew {
    background-color: #5e0005 !important;
    /* background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(241, 241, 241) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0%; */
    transform: skew(80deg);
    /* max-height: 500px; */
}

.projects {
    padding-top: 50px;
    /* background-color: #5e0005; */
    transform: skew(-80deg);
    /* background-image: -webkit-linear-gradient(70deg, #5e0005 50%, #fdfdfd 50%); */
    min-height: 500px;
}

.custom-color {
    color: #5e0005;
}

.yellow {
    color: #eccf26;
}
.center {
    text-align: center;
}

.desc {
    font-size: 15px; 
    padding-top: 10px;
}
.hide {
    display: none;
}

.project-item {
    max-width: 450px;
    min-height: 200px;
    color: #5e0005;
    background: rgb(240, 240, 240);
    border-bottom: 4px solid #eccf26 ;
    padding: 40px !important;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: top ease 0.3s;
    position: relative;
    top: 0;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.image {
    width: 300px;
    height: 350px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 90%;
    object-fit: contain;
}



.align-left {
    text-align: left !important;
}
.align-right {
    text-align: right;
}

.project-item:hover {
    top: -10px;
}

.orange {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(212, 20, 90) 0%, rgb(251, 176, 59) 100%) repeat scroll 0% 0%;
}

.blue {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(213, 133, 255) 0%, rgb(0, 255, 238) 100%) repeat scroll 0% 0%;
}
.green {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 146, 69) 0%, rgb(252, 238, 33) 100%) repeat scroll 0% 0%;
}

.red {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, rgb(121, 9, 9) 0%, rgb(110, 59, 251) 100%) repeat scroll 0% 0%;

}

.project-list {
    display: inline;
}

.white {
    color: white;
}

.heading-title {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 35px;
}

.social {
    padding-top: 50px;
    background: -webkit-linear-gradient(70deg, #5e0005 50%, #fdfdfd 50%);
    min-height: 500px;
    position: relative;
}

.social-content {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    left: 0;
    right: 0;

}

.social-content h3 {
    padding-bottom: 5px;
    padding-top: 0px !important;
}

.social a {
    color: yellow !important;
}

.description {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    width: 100%;
}

.max-width-80 {
    max-width: 80%;
    margin: 0 auto;
}

.margin-center {
    margin: 0 auto;
}

.contact {
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #5e0005;
    padding-bottom: 30px; 
    padding-left: 20px;
    padding-right: 20px;
}

.contact a {
    color: yellow !important;
}

.project-intro-details {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.project-main {
    height: 100vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px;
    color: #242222;
}

.spiker .heading-title {
    padding: 10px;
    font-weight: normal !important;
}

.project-description-main {
    margin: 0 auto;
    border-left: 2px solid black; 
}

.project-description {
    margin: 0 auto;
    border-left: 2px solid black; 
    background-color: #5e0005;
    color: white;
}

.nav {
    padding: 20px;
    position: absolute;
    padding-left: 20px !important;
}

.p-50 {
    padding-top: 50px;
}

.p-10 {
    padding-top: 10px;
}

.p-100 {
    padding-top: 100px;
}

.contact h3 {
    padding-top: 0px !important;
    padding-bottom: 5px;
}

.tech-badge {
    margin: 10px;
    padding: 5px 10px;
    width: fit-content;
    min-width: 80px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    background-color: #eccf26;
    display: inline-block;
}

.tech-badge:hover {
    background-color: #5e0005;
}

.tech-badge-list {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.spiker a {
    color: #5e0005 !important;
}

.spiker .project-description a:hover {
    color: #eccf26 !important;
    text-decoration: underline;
}

.spiker .project-description a {
    color: #eccf26 !important;
}

.nav a {
    border-bottom: 1px solid black;
}
.nav a:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.project-list a:hover {
    text-decoration: none !important;
}

.floating-nav {
    transition: ease 0.6s;
    position: fixed;
    background-color: #eccf26;
    border-radius: 0 0 10px 0;
}

.skill-section {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 992px) {
    .image {
        height: 100% !important;
        width: 100% !important;
    }

    .nav {
        display: none !important;
    }

    .project-description-main {
        padding-top: 20px;
        text-align: center;
        border: none;
    }

    .particles {
        display: none;
    }

    .main-canvas {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(238, 237, 237) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0%;
    }

}