.main-color {
    color: #5e0005;
}

.main-color-bg {
    background-color: #5e0005;
}

.accent {
    color: #9e2a30;
}

.landing {
    text-align: center;
    padding-top: 40vh;
    padding-left: 20px;
    padding-right: 20px;
}

.process-grid {
    display: grid;
    grid-template-columns:1fr;
    padding: 40px;
}

.item-process {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item-image-process {
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr;
}

.item-overview {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}

.item-tools {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-right: 30px;
    justify-self: center;
}

.spacer {
    margin: 40px auto !important;
}

.border-process {
    padding: 20px;
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 12px;
}

.image-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
}

.gitlab-logo {
    width: 30%;
    padding: 10px;
    margin: 0 auto;
}

.svg-center {
    margin: 0 auto;
    width: 100%;
}

.background-section {
    background-color: #FAFAFA;
    border-radius: 12px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-bottom: 80px !important;
}

.border-box {
    padding: 20px;
    border: 2px solid white;
}

.main-canvas {
    height: 100vh;
}

body {
    background-color: #fff !important;
    overflow-x: hidden;
}

.cradle .main-font, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    color: #5e0005;
}

.main-font, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    color: #5e0005;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

.main-font {
    font-size: 72px;
}

.sub-heading {
    font-size: 22px !important;
    font-family: 'Lato', sans-serif;
}

.body-font, p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.pb-0 {
    padding-bottom: 0;
}

.to-scew {
    background-color: #5e0005;
    transform: skew(80deg);
}

.projects {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.desc {
    font-size: 15px; 
    padding-top: 10px;
}

.hide {
    display: none;
}

.project-item {
    max-width: 450px;
    min-height: 250px;
    background: rgb(240, 240, 240);
    padding: 60px !important;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: top 0.3s;
    position: relative;
    top: 0;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.image {
    width: 300px;
    height: 350px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 90%;
    object-fit: contain;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right;
}

.project-item:hover {
    top: -10px;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgb(214, 213, 213) 0%, rgb(248, 248, 248) 100%) repeat scroll 0% 0%;
}

.project-list {
    display: inline;
    padding: 0 20px;
}

.white {
    color: white;
}

.heading-title {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 35px;
}

.cradle .heading-title {
    font-size: 4rem;
    letter-spacing: 4px;
}

.social {
    padding-top: 50px;
    background: -webkit-linear-gradient(70deg, #5e0005 50%, #fff 50%);
    min-height: 500px;
    position: relative;
}

.social-content {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    left: 0;
    right: 0;

}

.social-content h3 {
    padding-bottom: 5px;
    padding-top: 0px !important;
}

.social a {
    color: #9e2a30 !important;
}

.description {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    width: 100%;
    /* height: 70vh; */
    max-width: 1200px;
    padding-bottom: 100px;
}

.bio {
    text-align: justify;
}

.max-width-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.max-width-80 {
    max-width: 80%;
    margin: 0 auto;
}

.margin-center {
    margin: 0 auto;
}

.contact {
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #5e0005;
    padding-bottom: 80px; 
    padding-left: 20px;
    padding-right: 20px;
}

.contact a {
    color: white !important;
    text-transform: uppercase;
}

.project-intro-details {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
}

.main-image {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

.project-main {
    height: 60vh;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px; */
    color: #242222;
}

.blue-color {
    color: #5e0005;

    /* color: #0099ff; */
}

.blue-bg {
    background-color: #5e0005;
    /* background: #0099ff; */
}

.project-description-main {
    margin: 0 auto;
    border-left: 2px solid black;
    border-left: none;
    text-align: center;  
}

.project-description {
    margin: 0 auto;
    border-left: 2px solid black;
    /* background-color: #5e0005; */
    color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center; 
    border-left: none;

}

.cradle-container {
    max-width: 960px;
    margin: 0 auto;
}


.negative-margin {
    margin-top: -5% !important;
    overflow: hidden;
}

.svg-container > svg {
    display: block;
}

.nav {
    padding: 20px;
    position: absolute;
    padding-left: 20px !important;
}

.p-50 {
    padding-top: 50px;
}

.p-10 {
    padding-top: 10px;
}

.p-100 {
    padding-top: 100px;
}

.contact h3 {
    padding-top: 0px !important;
    padding-bottom: 5px;
}

.tech-badge {
    margin: 10px;
    padding: 5px 10px;
    width: fit-content;
    min-width: 80px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    background-color: #9e2a30;
    display: inline-block;
}

.cradle .tech-badge {
    margin: 10px;
    padding: 5px 10px;
    width: fit-content;
    min-width: 80px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    /* background-color: #40A4ED; */
    background-color: #9e2a30;

    display: inline-block;
}


.tech-badge:hover {
    background-color: #5e0005;
}

.cradle .tech-badge:hover {
    /* background-color: #3867ae; */
    background-color: #5e0005;
}

.cradle a {
    color: #9e2a30;
}

.cradle .alt-text a {
    color: white;
}

.cradle .alt-text a:hover {
    color: white;
    text-decoration: underline;
}



.cradle .alt-text p, body {
    color: rgb(230, 228, 228) !important;
}

.cradle p, body {
    color: #838383 !important;
}


.tech-badge-list {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.cradle a:hover {
    border-bottom: 1px solid #5e0005;
    text-decoration: none;
    color: #5e0005;
}

.project-list a:hover {
    text-decoration: none !important;
}

.floating-nav {
    transition: ease 0.6s;
    position: fixed;
    background-color: #ffffff;
    border-radius: 0 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.skill-section {
    padding-bottom: 100px;
    /* height: 70vh; */
    padding-left: 20px;
    padding-right: 20px;
}

.display-none {
    display: none;
}

.tech-badge-list-row {
    display: block;
}

@media screen and (min-width: 1400px) {
    .social {
        background: -webkit-linear-gradient(80deg, #5e0005 50%, #fff 50%);
    }
    
}

@media screen and (min-width: 1700px) {
    .social {
        background: -webkit-linear-gradient(80deg, #5e0005 50%, #fff 50%);
    }

    .to-scew {
        background-color: #fff !important;
        transform: none;
    }

    .large-desktop {
        background-color: #fff !important;
    }

    .projects {
        transform: none;
    }

    .description {
        background-color: #fafafa;
    }

    .description-container {
        background-color: #fafafa;
    }
}



@media screen and (max-width: 800px) {

    .tech-badge-list {
        max-width: 300px;
    }

    .tech-badge-list-row {
        display: inline;
    }

    .image {
        height: 100% !important;
        width: 100% !important;
    }

    .nav {
        display: none !important;
    }

    .project-description-main {
        padding-top: 20px;
        text-align: center;
        border: none;
    }

    .particles {
        display: none;
    }

    .main-canvas {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(238, 237, 237) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0%;
    }

    .landing {
        padding-top: 50%;
    }

    .project-intro-details {
        padding: 0 20px;
    }

    .bio {
        text-align-last: left;
        hyphens: auto;

    }

    .to-scew {
        transform: skew(70deg);
    }

    .projects {
        /* transform: skew(-70deg); */
    }

    .main-font {
        font-size: 52px;
        padding: 30px 0;
    }

    .sub-heading {
        font-size: 18px !important;
    }

    .scroll-indicator::before{
        content: '╲╱';
        color: #fff;
        position: absolute;
        opacity: 0.8;
        text-shadow: 0 0 .5rem rgba(0,0,0,0.5);
        width: 6rem;
        font-size: 2rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        bottom: 2rem;
        margin-left: -3rem;
        left: 50%;
        animation: bounce 1s ease infinite;
      }
      
      @keyframes bounce {
        50% {
          transform: translateY(-50%);
        }
        100% {
          transform: translateY(0);
        }
      }
}

@media screen and (max-width: 600px) {

    .gitlab-logo {
        width: 50%;
        padding: 10px;
        margin: 0 auto;
    }

    .cradle-container {
        padding: 20px;
    }
    
    .to-scew {
        transform: skew(50deg);
    }

    .projects {
        /* transform: skew(-50deg); */
    }

    
    .item-process {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item-image-process {
        padding: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item-overview {
        grid-column-start: 1;
        grid-column-end: 4;
        /* padding-left: 60px; */
        justify-self: center;
    }
    
    .item-tools {
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0 auto;
        /* max-width: 200px; */
        justify-self: center;
        
    }

}

.members {
    font-size: 12px;
    margin-top: -10px;
    padding-left: 10px;
}